<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flasked Altair</title>
    <meta charset="utf-8">


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.8.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/4.4.0/vega.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.6.0/vega-lite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.29.1/vega-embed.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/datalib/1.9.2/datalib.min.js"></script>

    <!-- Vega Tooltip -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-tooltip/0.15.0/vega-tooltip.js"></script>

    <style>hr, h3 {padding-bottom: 20px;}canvas {background-color: #fffff;}</style>
    <style>
    div.waterfall {
        width: 1200px;
        height: 300px;
        overflow-x: auto;
        overflow-y: auto;
    }
    </style>
  </head>
  <body>

    <div class="container">

      <div class="header">
        <ul class="nav nav-pills justify-content-end">
          <li class="nav-item"><a class="nav-link" href="https://altair-viz.github.io/index.html">Altair</a></li>
          <li class="nav-item"><a class="nav-link" href="https://vega.github.io/vega-lite/">Vega-Lite</a></li>
          <li class="nav-item"><a class="nav-link" href="http://d3js.org/">D3</a></li>
          <li class="nav-item"><a class="nav-link" href="http://flask.pocoo.org/">Flask</a></li>
        </ul>
        <h3 class="text-muted">Flasked Altair</h3>
      </div>

      <div class="charts text-center">
        <div class="row"><div id="bar"></div></div><hr>
        <div class="waterfall" id="waterfall"></div><hr>
        <div class="row"><div id="line"></div></div><hr>
        <div class="row"><div id="multiline"></div></div><hr>
        <div class="row"><div id="stocks"></div></div><hr>
        <div class="row"><div id="scatter"></div></div><hr>
        <!-- Placeholder for the tooltip -->
        <div id="vis-tooltip" class="vg-tooltip"></div>
      </div>
    </div>

    <!-- Render Charts -->
    <script type="text/javascript">
      function parse(url, div) {
        var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: {export: true, source: false, editor: false}
        };

        vegaEmbed("#"+div, url, opt).then(function(error, result) {
          // result.view is the Vega View, url is the original Vega-Lite specification
          vegaTooltip.vegaLite(result.view, url);
        }).catch(console.error);
      }

      parse("/data/bar", "bar")
      parse("/data/waterfall", "waterfall")
      parse("/data/line", "line");
      parse("/data/multiline", "multiline");
      parse("/data/stocks", "stocks");
      parse("/data/scatter", "scatter");
    </script>

  </body>
</html>
